<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.angular.angulartest.dao.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.angular.angulartest.dao.entity.User">
        <id column="USER_ID" property="userId" />
        <result column="USERNAME" property="username" />
        <result column="PASSWORD" property="password" />
        <result column="ROLE_ID" property="roleId" />
        <result column="ENABLE_STATUS" property="enableStatus" />
        <result column="AFFILIATED_INSTITUTIONS" property="affiliatedInstitutions" />
        <result column="MOBILE" property="mobile" />
        <result column="EMAIL" property="email" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

    <select id="usercount">
        select * from AN_USER
    </select>
</mapper>
